<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Cafe Deadend</string>
		<key>location</key>
		<string>Hong Kong</string>
		<key>type</key>
		<string>Coffee and Tea Shop</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Homei</string>
		<key>location</key>
		<string>Hong Kong</string>
		<key>type</key>
		<string>Cafe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Teakha</string>
		<key>location</key>
		<string>Hong Kong</string>
		<key>type</key>
		<string>Tea House</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cafe Loisl</string>
		<key>location</key>
		<string>Hong Kong</string>
		<key>type</key>
		<string>Casual Drink</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Petite Oyster</string>
		<key>location</key>
		<string>Hong Kong</string>
		<key>type</key>
		<string>French</string>
	</dict>
	<dict>
		<key>name</key>
		<string>For Kee Restaurant</string>
		<key>location</key>
		<string>Hong Kong</string>
		<key>type</key>
		<string>Bakery</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Po's Atelier</string>
		<key>location</key>
		<string>Hong Kong</string>
		<key>type</key>
		<string>Cafe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bourke Street Bakery</string>
		<key>location</key>
		<string>Sydney</string>
		<key>type</key>
		<string>Bakery</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Haigh's Chocolate</string>
		<key>location</key>
		<string>Sydney</string>
		<key>type</key>
		<string>Chocolate</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Palomino Espresso</string>
		<key>location</key>
		<string>Sydney</string>
		<key>type</key>
		<string>Cafe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Upstate</string>
		<key>location</key>
		<string>New York</string>
		<key>type</key>
		<string>American / Seafood</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Traif</string>
		<key>location</key>
		<string>New York</string>
		<key>type</key>
		<string>American</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Graham Avenue Meats</string>
		<key>location</key>
		<string>New York</string>
		<key>type</key>
		<string>Breakfast and Brunch</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Waffle and Wolf</string>
		<key>location</key>
		<string>New York</string>
		<key>type</key>
		<string>Coffee and Tea</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Five Leaves</string>
		<key>location</key>
		<string>New York</string>
		<key>type</key>
		<string>Coffee</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Cafe Lore</string>
		<key>location</key>
		<string>New York</string>
		<key>type</key>
		<string>Latin American</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Confessional</string>
		<key>location</key>
		<string>New York</string>
		<key>type</key>
		<string>Spanish</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Barrafina</string>
		<key>location</key>
		<string>London</string>
		<key>type</key>
		<string>Spanish</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Donostia</string>
		<key>location</key>
		<string>London</string>
		<key>type</key>
		<string>Spanish</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Royal Oak</string>
		<key>location</key>
		<string>London</string>
		<key>type</key>
		<string>British</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CASK Pub and Kitchen</string>
		<key>location</key>
		<string>London</string>
		<key>type</key>
		<string>Thai</string>
	</dict>
</array>
</plist>
